* {
  box-sizing: border-box;
}

html, body, .app.centered {
  height: 100%;
}

body {
  margin: 0;
  background-color: #333;
  color: #ffffff;
}

.app {
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  font-family: 'PT Mono', 'Source Code Pro', monospace;
}

.tweets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tweet {
  margin-top: 1em;
  padding: 8px;
  overflow: hidden;
}

.screen-name {
  color: #d56b68;
}

.timestamp {
  color: #65999b;
}

.new {
  animation: fade-in 2s;
}

.error {
  position: fixed;
  margin: 0;
  padding: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f66;
}

@keyframes fade-in {
  from {
    background-color: #d5b168;
  }
  to {
    background-color: none;
  }
}
